# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# VSC
.DS_Store
Thumbs.db

# Cmake and Build
build/
cmake-build-*/
out/
bin/
obj/
.cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
install_manifest.txt
compile_commands.json
CMakeUserPresets.json
DartConfiguration.tcl

*.cmake
*.ipynb_checkpoints
*.db
*.lock

# Clion
.idea/

# Python
__pycache__/
*.pyc

# Others
Testing

venv

*.bin

_deps
_deps/